<%- include('index'); -%>

<form method="post">
    <table>
        <tr>
            <td>Name:</td>
            <td>
                <input type="text" placeholder="<%= User.name%>" name="name" value="<%= User.name%>" required >
            </td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>
                <input type="email" placeholder="<%= User.email%>" name="email" value="<%= User.email%>" required >
            </td>
        </tr>
        <tr>
            <td>phone:</td>
            <td>
                <input type="number" placeholder="<%= User.phone%>" name="phone" value="<%= User.phone%>" required >
            </td>
        </tr>
        <tr>
            <td>comments:</td>
            <td>
                <input type="text" placeholder="<%= User.comments%>" name="comments" value="<%= User.comments%>" required >
            </td>
        </tr>
        
    </table>
    <td><input type="submit">
        <input type = "button" value="Display" onclick="window.location ='./display'">

</form>